body
{
 font-family:cursive;
 font-style: italic;
 background-image: url("https://i.pinimg.com/474x/d6/29/46/d62946e7db6c7e7c74e7214dc4fb6247.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size:contain;
 background-color:lavender;
 width:auto;
}
.image
{
    display:inline-block;
   text-align: center;
   padding-right: 400px;
}
#connect h1{
    color:blue;
    font-style: italic;
    text-align:justify;
}
#connect h2{
   font-style: italic;
    text-align: center;
     color:black;
}
h3
{
    font-size:large;
    font-style:normal;
    font-weight: 400;
    color:rgb(7, 27, 39);
    text-align:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.a
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-right: 50px;
    color:blue;
}
p
{
    font-size:larger;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color:rgb(59, 59, 161);
    text-align:center;
}
h1
{
    font-size: large;
    font-family:cursive;
    color:#fff;
    text-align:left;
    padding-top: 30px;
}
p
{
    color:rgb(43, 43, 81);
    font-style: italic;
    font-family: cursive;
}
#download
{
    height:70px;
    align-items: center;
    text-align: center;
    text-align: justify;
    margin: 0 auto;

}
#download h1
{
    color:#fff;
    font-family: cursive;
    padding:10px;
    justify-content:center;
    border-radius: 50px;
}

#info 
{
    text-align:center;
    align-content: center;

}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height:280px;
    border-radius: 50%;
}
.links
{
   display:inline-block;
   width:70px;
   height:70px;
}
.expectations
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGOd9ZoPjt1o50CV0CDzz1ueQNi35aqrdXZA&s");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width:400px;
    height:500px;
    border-radius: 100%;
    padding-right: 20%;
   text-align: center;
   margin-left: 20%;
}
.expectations h2
{
    display:contents;
    font-size: medium;
    font-style: italic;
    font-family: cursive;
    color:black;
    text-align:center;
}
.expectations h1
{
    color:blue;
    font-size: larger;
    text-align: center;
    align-content: center;
    padding-left: 250px;
}
