body
{
 font-family:cursive;
 font-style: italic;
 background-image: url("https://i.pinimg.com/474x/d6/29/46/d62946e7db6c7e7c74e7214dc4fb6247.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size:contain;
 background-color:lavender;
}
#connect
{
    text-align: center;

}
.image
{
    display:inline-block;
    text-align: center;
}
h2
{
    font-size:xx-large;
    font-weight: bold;
    color:blue;
    text-align: center;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3
{
    font-size:large;
    font-style:normal;
    font-weight: 300;
    color:rgb(7, 27, 39);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:none;
}
.a
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-right: 50px;
    color:blue;
}
p
{
    font-size:larger;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color:rgb(59, 59, 161);
    text-align:center;
}
h1
{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    text-align: center;
    padding-top: 30px;
}
p
{
    color:rgb(43, 43, 81);
    font-style: italic;
    font-family: cursive;
}
#download
{
    height:70px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}
#download a
{
    color:#fff;
    align-content:center;
    font-family: cursive;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(23, 23, 193);
}
.a
{
    font-size: large;
    text-align: center;
    color:black;
    font-family: cursive;
    font-style: italic;
}
#info 
{
    text-align:center;
    align-content: center;

}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height:280px;
    border-radius: 50%;
}
.links
{
   display:inline-block;
   width:70px;
   height:70px;
}
.expectations
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGOd9ZoPjt1o50CV0CDzz1ueQNi35aqrdXZA&s");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width:500px;
    height:500px;
    border-radius: 100%;
    padding-right: 20%;
   text-align: center;
   margin-left: 20%;
}
.expectations h2
{
    display:contents;
    font-size: medium;
    font-style: italic;
    font-family: cursive;
    color:black;
    padding-right: 50%;
    text-align: center;
}
.expectations h1
{
    color:blue;
    font-size: larger;
    text-align: right;
}
.footer
{
 background-color:black;
 width:100%;
 height: 100%;
}
.footer h3
{
  color:#fff;
  width:400px;
  font-style:italic;
  font-family: cursive;
  font-weight: 500;
  margin:25px 25px 25px;
  text-decoration: none;
}
.footer p
{
  color:#fff;
  width:400px;
  font-style:italic;
  font-family: cursive;
  font-weight: 500;
  margin:25px 25px 25px;
}
.grid-container
{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap:50px;
}
.grid-container h2
{
  color:#fff;
  font-style: italic;
  font-family: cursive;
  text-decoration: none;
}
.grid-container > div
{
  .item1 { grid-area: 1 / 1 / 2 / 2; }
}
.social-links h3
{
   font-family: cursive;
   font-style: italic;
}
.social-links a
{
  display: inline-flex;
  padding: 10px;
  width: 90px;
  height: 100px;
}
